{% extends 'public/templates/pub_template.html'%}
{%block style%}
<link rel="stylesheet" href= "{{ url_for('static',filename='styles/moviecard.css') }}">
<link rel="stylesheet" href= "{{ url_for('static',filename='styles/actor.css') }}">
<link rel="stylesheet" href= "{{ url_for('static',filename='styles/index_style.css') }}">

{%endblock%}
{% block title %} Movie App {% endblock %}
{% block main %}
<meta id="my-data" data-name="{{ id }}">
 <!-- <div id="actor"></div> -->
<div>
    <div class="actorcontainer">
<div id="actor" class="container mt-5 mb-5">

</div>
</div>
</div>

<div class="container container-fluid">
    <div id="row" class="row">

        </div>
        </div>

{% endblock %}
{%block script%}
<script src="{{ url_for('static',filename='actor.js') }}"></script>
{%endblock%}