{% extends "public/templates/pub_template.html" %}
{%block style%}
 <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
 
 {%endblock%}
{% block title %} Entrar {% endblock %}

{% block main %} 

<div class="container">
  <div class="wrapper fadeInDown">
      <div id="form">
          <h2 class="fadeIn first">
              Crea una cuenta
          </h2>
          <form onsubmit="return validate(event)" action="/register" method="POST"  name="register">
              <div class="form-group">
              <input type="text" id="name" class="fadeIn second form-control" name="name" placeholder="Nombre Usuario" required>
              <div class="invalid-feedback">El nombre de usuario puede tener de 3 a 15 caracteres</div>
              </div>

              <div class="form-group">
              <input type="password" id="password" class="fadeIn second form-control" name="password" placeholder="Contraseña" required>
              <div class="invalid-feedback">La Contraseña puede tener de 8 a 15 caracteres alfanumericos</div>
              </div>

              <div class="form-group">
              <input type="text" id="email" class="fadeIn second form-control" name="email" placeholder="Correo Electronico" required>
              <div class="invalid-feedback">Correo invalido</div>
              </div>

              <input type="submit" class="fadeIn third" value="Registrarse">
            </form>

      
      <div id="formFooter">
          <a class="underlineHover" href="/login">Ya tiene una cuenta?</a>
        </div>
  </div>
</div>
{% endblock %}

